<html>
   {{template "header.tmpl.html"}}
   <body>
      {{template "nav.tmpl.html"}}
      <div class="box">
         <form>
            <div>
               <h4>Check-In Date</h4>
               <input type="datetime-local">
            </div>
            <div>
               <h4>Check-Out Date</h4>
               <input type="datetime-local">
            </div>
            <div>
               <h4>Rooms</h4>
               <input type="number" value="3" style="padding:3px;">
            </div>
            <input type="submit">
         </form>
      </div>
   </body>
</html>